/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Geneva, sans-serif;
}

a {
    color: #2772B0;
}

.wrapper {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    background-color: #ffffff;
}

div img {
    width: 100%;
    max-width: 225px;
}

/* grid system -- mobile first! */
/* flex container */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* Add this to evenly space columns */
}

/* attribute selector to give some margin between columns and apply styles to flex items */
[class*="col-"] {
    margin-left: 4%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
    background-color: #A3CDD9;
    flex: 0 0 calc(44% - 4%); /* Adjusted width to accommodate margin */
}

.col-2 {
    background-color: #FFFCE6;
    flex: 0 0 calc(44% - 4%); /* Adjusted width to accommodate margin */
}

.col-3-3 {
    background-color: blue;
    flex: 0 0 calc(75% - 4%); /* Adjusted width to accommodate margin */
}

.col-1-3 {
    background-color: red;
    flex: 0 0 calc(25% - 4%); /* Adjusted width to accommodate margin */
}

.col-4 {
    background-color: pink;
    flex: 0 0 calc(92% - 4%); /* Adjusted width to accommodate margin */
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
    .col-1,
    .col-2 {
        flex: 0 0 calc(44% - 4%); /* Adjusted width to accommodate margin */
    }
    
    /* Unique row columns for tablets */
    .unique-row [class*="col-"] {
        flex: 0 0 calc(20% - 4%); /* Adjusted width to accommodate margin */
    }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
    .col-1 {
        flex: 0 0 calc(20% - 4%); /* Adjusted width to accommodate margin */
    }

    .col-2 {
        flex: 0 0 calc(44% - 4%); /* Adjusted width to accommodate margin */
    }

    .col-3-3 {
        flex: 0 0 calc(75% - 4%); /* Adjusted width to accommodate margin */
    }

    .col-4 {
        flex: 0 0 calc(100% - 4%); /* Adjusted width to accommodate margin */
    }
}

/* Mobile screen Sizes */
@media only screen and (max-width: 479px) {
    /* Unique row columns for mobile */
    .unique-row [class*="col-"] {
        flex: 0 0 100%;
        margin-left: 0;
    }
    
    /* Reset other rows to stack */
    .row:not(.unique-row) [class*="col-"] {
        flex: 0 0 100%;
        margin-left: 0;
    }
}